body {
    margin: 0;
}

#selected {
    background-color: rgba(211, 211, 211, 0.785);
}

.navbar {
    display: flex;
    height: 50px; 
    background-color: royalblue;
}

.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .form-control {
    flex-grow: 0.5;           /* Stretches the search bar */
    padding: 5px;           /* Adds padding inside the search bar */
    font-size: 16px;        /* Font size */
}

.list-group-item {
    background-color: white;
    border: 1px solid #ddd;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.form-group {
    margin-bottom: 1rem;
}

.btn {
    margin-right: 10px;
}
